<h1>404 - Not Found-------{{key}}</h1>
<p></p>

<script>
    var str='{{content}}';
    var obj='{{str}}';

    console.log(obj.replace(/.*&#x27;(.*)&#x27;.*/,'$1'));

    $('section p').html(
        str.replace(/(;)(?=\n)/g,';<hr/>')
    );
</script>
<style>
    section p{
        text-align: left;
        text-indent: 0;
    }
</style>
