{{#section 'style'}}
    <style media="screen">
        body{
            background-color: red;
        }
    </style>
{{/section}}
{{#section 'header'}}
    <h1>我是头部</h1>
{{/section}}
<h1>我是body</h1>
{{#section 'footer'}}
    <h1>我是底部</h1>
{{/section}}
{{#section 'script'}}
    <script type="text/javascript">

    </script>
{{/section}}
